.featuredProducts{
    margin: 8vh 2vw;

    h1{
        text-align: center;
        border-bottom: 1px solid rgb(21,21,21,0.5);
        padding: 0;
        max-width: 20vmax;
        min-width: fit-content;
        font-size: 1.8rem;
        margin: auto;
        margin-bottom: 20px;
    }

    .bottom{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 10px;

        @media (max-width:1000px) {
            grid-template-columns: repeat(3,1fr);
        }

        @media (max-width:700px) {
            grid-template-columns: repeat(2,1fr);
            gap: 0;
        }
    }
}