.reviewCard{
    // border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 0 5px 0 gray;
    padding: 1.5rem;
    margin: 1rem 0;

    h3{
        margin: 0;
    }

    .center{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            padding: 0;
        }
    }
}