.profile {
    position: absolute;
    z-index: 1000;
    min-width: 200px;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    left: -100px;
    box-shadow: 0 5px 20px 0 #727272;

    h3 {
        margin: 10px 0 5px 0;
    }

    h5{
        margin: 0 0 15px 0;
        font-weight: 600;
    }

    p {
        margin: 5px 0;
        font-size: 0.9rem;
    }

    .logout {
        text-align: center;

        button {
            border-radius: 25px;
            border: 3px solid #ff3e6c;
            color: #ff3e6c;
            // font-size: 12px;
            font-weight: bold;
            padding: 10px 20px;
            letter-spacing: 1px;
            transition: all 0.5s ease;
            margin-top: 1rem;
            cursor: pointer;
            background-color: transparent;

            &:active {
                transform: scale(0.95);
            }

            &:focus {
                outline: none;
            }

            &:hover{
                background-color: #ff3e6c;
                color:white;
                // border: 4px solid black;
            }
        }
    }

    .signInBtn {
        margin: calc(50% - 50px);

        button {
            border-radius: 20px;
            border: 3px solid #ff3e6c;
            background-color: transparent;
            color: #ff3e6c;
            // font-size: 12px;
            font-weight: bold;
            padding: 10px 20px;
            letter-spacing: 1px;
            transition: all 0.5s ease-in-out;
            margin-top: 1rem;
            cursor: pointer;

            &:active {
                transform: scale(0.95);
            }

            &:focus {
                outline: none;
            }

            &:hover{
                background-color: #ff3e6c;
                color:white;
                // border: 4px solid black;
            }
        }
    }
}