.list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width:1250px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width:800px) {
        grid-template-columns: repeat(2, 1fr);
    }

    // @media (max-width:500px) {
    //     grid-template-columns: repeat(1,1fr);
    // }
}