$pink: #ff3160;
$red: #f01b1b;

.product {
    padding: 0 50px;

    .top {
        display: flex;
        gap: 50px;

        .left {
            flex: 1;
            display: flex;
            gap: 10px;

            .images {
                flex: 1;

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    cursor: pointer;
                    margin-bottom: 10px;
                }
            }

            .mainImg {
                flex: 5;

                img {
                    width: 100%;
                    max-height: 500px;
                    object-fit: contain;
                }
            }
        }

        .right {
            flex: 1;
            display: flex;
            flex-direction: column;

            h1 {
                margin: 1rem 0;
                font-size: 1.5rem;
            }

            hr {
                width: 100%;
                border: 1px solid lightgray;
            }

            .price {
                padding: 1rem 0;
                font-size: 1.2rem;
                color: #2879fe;
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 20px;

                h3 {
                    margin: 0;
                    color: $pink;
                    font-size: 1.5rem;

                    &:last-child {
                        color: gray;
                        text-decoration: line-through;
                        font-weight: 400;
                        font-size: 1.2rem;
                    }
                }
            }

            p {
                font-size: 1rem;
                line-height: 1.2rem;
                font-weight: 300;
                text-align: justify;
                padding: 0.5rem 0;
                margin: 0;
            }

            .quantity {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 2px solid gray;
                border-radius: 50px;
                width: 80px;
                color: green;
                margin: 10px;

                button {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                }
            }

            .add {
                width: 100%;
                padding: 10px;
                background-color: $pink;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                cursor: pointer;
                border: none;
                font-weight: 700;
                font-size: 1rem;
                border-radius: 50px;
            }

            // .links {
            //     display: flex;
            //     gap: 20px;

            .wishlistAdd {
                width: 100%;
                box-sizing: border-box;
                margin: 15px 0;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                color: $red;
                font-size: 1rem;
                border: 1px solid $red;
                border-radius: 50px;
                font-weight: 700;
                cursor: pointer;
            }

            // }

        }
    }

    .bottom {
        hr {
            width: 100%;
            border: 1px solid lightgray;
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: gray;
            font-size: 14px;
            margin-top: 30px;
        }

        .reviewSection {
            padding: 0 15%;

            .reviewHeading {
                margin: 3rem auto 2rem;
                border-bottom: 1px solid rgba(21, 21, 21, 0.5);
                text-align: center;
                width: 200px;
                font-size: 1.5rem;
            }

            .noReviews {
                font-size: 1.2rem;
                text-align: center;
                color: rgba(0, 0, 0, 0.5);
                padding: 1rem;
            }

            .addReview {
                text-align: center;
                min-height: 100px;
                max-height: 350px;
                // border: 1px solid #000000;
                box-shadow: 0 0 10px 0 #dddddd;
                border-radius: 1rem;
                padding: 1.7rem;

                h3 {
                    margin: 0;
                }

                form {
                    // height: 180px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    input {
                        outline: none;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid transparent;
                        padding: 5px 10px;
                        font-size: 1rem;
                        transition: all 0.2s ease-in-out;

                        &:focus {
                            border-bottom: 1px solid black;
                        }
                    }

                    textarea {
                        padding: 10px;
                        height: 100px;
                        background-color: transparent;
                        outline: 0;
                        border-radius: 10px;
                        box-shadow: 0px 0px 5px 0 silver inset;
                        resize: none;
                        margin: 5px 0;
                        font-family: 'Poppins', sans-serif;
                    }

                    button {
                        border-radius: 20px;
                        border: 3px solid $pink;
                        background-color: transparent;
                        color: $pink;
                        font-weight: bold;
                        padding: 10px 20px;
                        letter-spacing: 1px;
                        transition: all 0.5s ease-in-out;
                        margin-top: 0.5rem;
                        cursor: pointer;

                        &:active {
                            transform: scale(0.95);
                        }

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background-color: $pink;
                            color: white;
                        }
                    }
                }

                .signInReview {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    a {
                        width: fit-content;

                        button {
                            border-radius: 20px;
                            border: 3px solid $pink;
                            background-color: transparent;
                            color: $pink;
                            font-weight: bold;
                            padding: 10px 20px;
                            letter-spacing: 1px;
                            transition: all 0.5s ease-in-out;
                            margin-top: 1rem;
                            cursor: pointer;

                            &:active {
                                transform: scale(0.95);
                            }

                            &:focus {
                                outline: none;
                            }

                            &:hover {
                                background-color: $pink;
                                color: white;
                            }
                        }
                    }
                }

            }

            .showMore {
                text-align: right;
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: $pink;
                }
            }
        }

        @media (max-width:700px) {
            .reviewSection {
                padding: 0;
            }
        }

    }


    @media (max-width:800px) {
        .top {
            flex-direction: column;
            gap: 0;

            .left {
                flex-direction: column-reverse;
                align-items: center;

                .images {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    img {
                        width: 100px;
                        height: 100px;
                        padding: 10px;
                    }
                }

                .mainImg {
                    img {
                        max-height: 500px;
                    }
                }
            }

            .right {
                h1 {
                    font-size: 1.5rem;
                }
            }
        }
    }

    @media (max-width:500px) {
        padding: 0 20px;
    }
}