.products {
    padding: 30px 30px;
    display: flex;

    .left {
        flex: 1;
        position: sticky;
        height: 100%;
        top: 30px;

        .filterItem {
            margin-bottom: 20px;

            h2 {
                font-weight: 500;
                font-size: 1.4rem;
                margin-bottom: 10px;
            }

            .inputItem {
                margin-bottom: 5px;

                label {
                    margin-left: 5px;
                }
            }
        }
    }

    .right {
        flex: 4;

        .catImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}