  /* @import url('https://fonts.googleapis.com/css2?family=Play&family=Poppins&family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Quicksand&family=Red+Hat+Display&family=Teko&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

  body {
    margin: 0;
    font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* background-color: #f3ecdd; */
  }

  *::-webkit-scrollbar{
    width: 0;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
    /* background-color: blue; */
  }
  
  ::-webkit-scrollbar-button {
    /* background: yellow */
    height: 0;
    width: 0;
  }
  
  ::-webkit-scrollbar-track-piece {
    background: transparent
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(104, 104, 104, 0.5);
    border-radius: 10px;
  }